
<div class="jumbotron jumbotron-fluid" style="padding: 2%;text-justify: center;">
  <div class="container">
    <h1  class="display-4">Pinger</h1>
    <p class="lead">One stop shop for all music event info needs!</p>
  </div>
</div>

 <div  class="form-inline" >
    <input  id ="searchBar" class="form-control mr-sm-2" type="search" [(ngModel)]="searchIn"
    (input)="searchVal = $event.target.value;updateSuggestions();"
      placeholder="Search for Events" aria-label="Search" #searchTerm>
    <button class="btn btn-outline-success my-2 my-sm-0"  (click)="searchEvents(searchTerm.value)">Search</button>
    <br>
    <ul *ngFor="let suggestion of suggestions">
      <h3 (click)="update(suggestion)">{{suggestion}}</h3>
    </ul>


 </div>



  <br>
  <hr>
  <button type="button" class="btn btn-outline-info" (click)="filterBy('')"
  [ngClass]="{active: checkFilterParam('') }" > All </button>

  <button type="button" class="btn btn-outline-primary" (click)="filterBy('Rock')"
  [ngClass]="{active: checkFilterParam('Rock') }" > Rock </button>

  <button type="button" class="btn btn-outline-success" (click)="filterBy('Electronic')"
  [ngClass]="{active: checkFilterParam('Electronic')}" >Electronic</button>

  <button type="button" class="btn btn-outline-danger" (click)="filterBy('Jazz')"
  [ngClass]="{active: checkFilterParam('Jazz')}">Jazz</button>





<div style="float: right;" class="btn-group btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-outline-info"
    (click)="sortByPrice()" [ngClass]="{active: checkSortParam('Price') } "
  >Price</button>
  <button type="button" class="btn btn-outline-danger"
    (click)="sortByRating()" [ngClass]="{active: checkSortParam('Rating') } "
  >Rating</button>
</div>

<div style="justify-content: center;" class="row row-cols-1 row-cols-md-3">
  <h2 style="margin: 1rem;" *ngIf= "filteredEvents.length==0">No events!</h2>
</div>
<div class="row row-cols-1 row-cols-md-3">


  <div *ngFor='let event of filteredEvents' >

    <div class="col mb-4">

      <div class="card" (click)="navigateToDetail(event)" [ngClass]="{hot: checkHotness(event),cool: !checkHotness(event)}"
      >
      <span *ngIf="checkHotness(event)" style=" color: antiquewhite; text-align: center; background-color: crimson; justify-content: center;">UPCOMING!</span>
        <img src={{event.imgUrl}} class="card-img-top" alt={{event.name}}>
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.artists}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div style="justify-content: center;" class="row row-cols-1 row-cols-md-3">
  <button class="btn btn-primary btn-md" (click)="loadMoreEvents()">Show More!</button>
</div>




