
.hot{
  border-color: red;
  border-style: dashed;
}


.cool img {
  filter: grayscale(100%);
}

.card:hover{
  transform: scale(1.1);

}

#searchBar{
  width: 79%;
  margin:0
}
#searchBtn{
  width: 20%;
  margin:0;
}

.searchForm{
  margin: 0;
  width: 100%;
}

.card{
  margin-top:1em;
}

.fa-star{
  color: yellow;
}

.fa-dollar-sign{
  color: green;
}
