<div class="jumbotron jumbotron-fluid" style="padding: 2%;text-justify: center;">
  <div class="container">
    <h1  class="display-4">Pinger</h1>
    <p class="lead">One stop shop for all music event info needs!</p>
  </div>
</div>

 <!-- <app-search-form [eventParamNames]="eventParamNames" (search)="searchEvents($event)" ></app-search-form> -->

 <app-divider value="List Of Events"></app-divider>

<br>

 <vsf-auto-complete
 promptLabel="Search for events"
 [autoCompleteStyle]="{width: '80%'}"
 [suggestionsList]="eventParamNames"
 (completed)="searchEvents($event)"
>
</vsf-auto-complete>

<hr>


  <button type="button" class="btn btn-outline-info" (click)="filterBy('')"
  [ngClass]="{active: checkFilterParam('') }" > All </button>

  <button type="button" class="btn btn-outline-primary" (click)="filterBy('Rock')"
  [ngClass]="{active: checkFilterParam('Rock') }" > Rock </button>

  <button type="button" class="btn btn-outline-success" (click)="filterBy('Electronic')"
  [ngClass]="{active: checkFilterParam('Electronic')}" >Electronic</button>

  <button type="button" class="btn btn-outline-danger" (click)="filterBy('Jazz')"
  [ngClass]="{active: checkFilterParam('Jazz')}">Jazz</button>

<div style="float: right;" class="btn-group btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-outline-info"
    (click)="sortByPrice()" [ngClass]="{active: checkSortParam('Price') } "
  >
  <i *ngIf="isAscendingPriceSort" class="fas fa-sort-amount-up"></i>
  <i *ngIf="!isAscendingPriceSort" class="fas fa-sort-amount-down"></i>
  Price</button>
  <button type="button" class="btn btn-outline-danger"
    (click)="sortByRating()" [ngClass]="{active: checkSortParam('Rating') } "
  >
  <i *ngIf="isAscendingRatingSort" class="fas fa-sort-amount-up"></i>
  <i *ngIf="!isAscendingRatingSort" class="fas fa-sort-amount-down"></i>
  Rating</button>
</div>



<vsf-grid
	[dataList]="filteredEvents"
  columns='col-xs-12 col-sm-6 col-md-4'
  (needMoreData)="loadMoreEvents()"
>
	<ng-template vsfTemplate="grid-item" let-event="item">
		<app-event-card [event]="event"></app-event-card>
	</ng-template>
</vsf-grid>

<br>

