
.hot{
  border-color: red;
  border-style: dashed;
  background-color: chartreuse;
}


.cool img {
  filter: grayscale(100%);
}

.card:hover{
  transform: scale(1.1);

}

#searchBar{
  width: 60vw;
  margin: 1em;
}

.card{
  margin-top:1em;
}
