<div class="crop"
     [style.width.px]="starWidth"
     [title]="this.rating">
  <div style="width: 150px">
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
    <label  class="star">&#9733;</label>
  </div>
</div>
